@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-ovo: "Ovo", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-[#fdfbf7] text-[#2c2c2c] antialiased;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
